<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de estudiantes</title>
</head>
<body>
	<!--  
	
		<table>
		<thead>
			<th>Codigo Estudiante </th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Edad</th>
			<th>Estado</th>
		</thead>
		<th:block th:each="estudiante,row:${estudiantes}">
			<tr>
				<th th:text="${estudiante.codigoEstudiante}">
				<th th:text="${estudiante.nombre}">
				<th th:text="${estudiante.apellido}">
				<th th:text="${estudiante.edad}">
				<th th:text="${estudiante.estadoDelegate}">
			<tr>	
		</th:block>
	</table>
	<br>
		<form th:action="@{/mostrarEstudiante}" method="post">
		<label>Buscar por codigo de estudiante: </label> <br> 
		<input type="number" name="codigo"><br>
		<input type="submit" value="Buscar"><br>
	</form>
	<br>
	
	<form th:action="@{/insertarEstudiante}">
		<input type="submit" value="Insertar nuevo estudiante">
	</form><br>
		
	
	
	
	-->
	<form th:action="@{/mostrarEstudiante}" method="post">
		<label>Buscar por codigo de estudiante: </label><input type="number" name="codigo"> <br>
		<input type="submit" value="Buscar">
	</form>
</body>
</html>